html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.topNavContainer {
  height: 8%;
  align-items: center;
}

.topNav {
  width: 100%;
  background-color: antiquewhite;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 9%;
}

.topNavList {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.topNavItem {
  display: inline-block;
}

.topNavItem:hover {
  background-color: white;
}

.navItemText {
  padding: 20px;
  width: 100px;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

#about {
  background-color: ghostwhite;
  display: inline-block;
  width: 100%;
  padding-bottom: 100px;
  height: 100%;
  text-align: center;
}

#headshotContainer {
  display: flex;
  justify-content: center;
}

#headshot {
  width: 300px;
  height: 270px;
  border-radius: 50%;
}

#bio {
  width: 50%;
  font-size: 25px;
  margin-top: 3%;
  margin-left: 25%;
}

#projects {
  height: 100%px;
  background-color: white;
  display: inline-block;
  width: 100%;
}

#projectsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#projectOne {
  float: left;
  width: 45%;
  margin-right: 2%;
  text-align: center;
}

#sUNHeader {
  font-size: 30px;
  margin-top: 0%;
}

#sUNImage {
  height: 450px;
}

#sUNInfo {
  float: right;
  font-size: 25px;
  width: 40%;
  margin-top: 25%;
  margin-right: 8%;
}

#projectTwo {
  float: left;
  width: 45%;
  height: 400px;
  margin-left: 2%;
}

#sshellHeader {
  font-size: 30px;
  margin-top: 0%;
}

#sshellImage {
  width: 300px;
  height: 300px;
  margin-top: 15%;
}

#sshellInfo {
  float: right;
  font-size: 25px;
  width: 40%;
  margin-top: 25%;
  margin-right: 8%;
}

#contact {
  height: 700px;
  background-color: ghostwhite;
  display: inline-block;
  width: 100%;
}

#contactInfoContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#contactInfo {
  font-size: 25px;
}

h1 {
  margin-top: 5%;
  font-size: 60px;
  padding: 0;
  text-align: center;
  font-weight: 200;
}

/* https://www.youtube.com/watch?v=_yTW9FvN4N8 */
/* https://coder-coder.com/display-divs-side-by-side/ */
/* https://www.w3.org/WAI/tutorials/menus/structure/ */
